*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(https://www.amazon.com/ref=nav_logo);
    background-size: cover;
    height: 50px;
    width: 100%;
}